#thebooleaner-header {
    color: white;
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    background-size: contain;  
}

.titolo-articolo {
    font-size: 30px;
}

.autore {
    color: grey;
    font-size: 15px;
}

.nome-autore {
    color: #41B5E8;
}

.nome-autore, .credits-foto {
    font-size: 12px;
}

.data-articolo {
    color: grey;
    font-size: 12px;
}