#thebooleaner-header {
    color: white;
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    background-size: contain;  
}

.titolo-articolo {
    font-size: 50px;
}

.autore, .suggerimenti {
    color: grey;
    font-size: 15px;
}

.nome-autore {
    color: #41B5E8;
}

.nome-autore, .credits-foto {
    font-size: 12px;
}

.data-articolo {
    color: grey;
    font-size: 12px;
}

.testo-importante {
    background-color: yellow;
}

.intestazione-tabella {
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

.colonna-intestazione {
    width: 300px;
}

.righe-dispari {
    background-color: #B1E5F2;
}

.primo-suggerimento {
    background-image: url('../img/monitor.jpg');
    background-size: cover;
    width: 311px;
    height: 207px;
}

.secondo-suggerimento {
    background-image: url('../img/graph.jpg');
    background-size: cover;
    width: 311px;
    height: 207px;
}

.link-esterno {
    color:white;
}